public-hoist-pattern[]=*@medusajs/*
public-hoist-pattern[]=@tanstack/react-query
public-hoist-pattern[]=react-i18next
public-hoist-pattern[]=react-router-dom
pnpm.only-built-dependencies=@medusajs/telemetry @swc/core esbuild msgpackr-extract protobufjs
